<p class="p-8 text-xl text-center">---</p>
<p class="text-sm text-center">built with <a class="underline" href="https://gohugo.io">hugo</a> & <a class="underline" href="https://tailwindcss.com/">tailwindcss</a></p>
<p class="text-sm text-center">(wip) theme by me</p>