<div class="text-gray-50 p-8">
    {{ $url := replace .RelPermalink ( printf "%s" .Site.BaseURL) "" }}
    {{ range $index, $element := split $url "/" }}
        {{ $.Scratch.Add "path" $element }}
        {{ if (ne $element "")}}
            > <a href='{{ $.Scratch.Get "path" | absURL }}'>
                {{ . }}
            </a>
        {{ $.Scratch.Add "path" "/" }}
        {{ end }}
    {{ end }}
    <h1 class="text-6xl text-center p-8">
        {{ .Title }}
    </h1>
    <div class="flex flex-row-reverse gap-8">
        {{ range $.Site.Home.AllTranslations }}
            <a class="underline" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        {{ end }}
    </div>
    <div>
    </div>
</div>