{{ with .Site.GetPage "/misc" }}
<div class="container ml-auto mr-auto p-8 rounded-lg">
        <a href="misc">
                <h1 class="mb-4 underline">{{ .Language.Params.OtherPosts }}</h1>
        </a>
        {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <div>
                <div class="flex gap-8">
                        <div class="">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                        <h1>
                                <a class="underline" href="{{ .Permalink }}" title="{{ .Title }}">
                                        {{ .Title }}
                                </a>
                        </h1>
                </div>
                <p class="text-justify">{{ .Summary }}</p>
        </div>
        {{ end }}
</div>
{{ end }}