{{ with .Site.GetPage "/projects" }}
<div class="container ml-auto mr-auto p-8 rounded-lg">
        <a href='{{ lower .Language.Params.Projects.Other }}'>
                <h1 class="underline mb-4">{{ .Language.Params.Projects.Other }}</h1>
        </a>
        {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <div class="mb-8">
                <div class="flex gap-8">
                        <div>{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                        <h1>
                                <a class="underline" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
                        </h1>
                </div>
                <p class="text-justify">{{ .Summary }}</p>
        </div>
        {{ end }}
</div>
{{ end }}