#post_content a {
        text-decoration: underline;
}

#post_content img {
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
}

#post_content p {
        margin-bottom: 0.5rem;
}