<!DOCTYPE html>
<html class="h-full bg-gray-900 text-gray-100">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="container-fluid">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
