{{ define "main" }}
<div class="container ml-auto mr-auto p-8 rounded-lg">
    {{ range sort .Data.Pages "Date" "desc"}}
    <div class="mb-8">
      <div class="flex gap-8">
        <div>{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
        <h1>
          <a class="underline" href="{{ .RelPermalink }}" title="{{ .Title }}"
            >{{ .Title }}</a
          >
        </h1>
      </div>
      <p class="text-justify">{{ .Summary }}</p>
    </div>
    {{ end }}
</div>

{{ end }}