{{ define "main" }}
<div class="container ml-auto mr-auto">
        {{ with .Page.Params.image }}
                <img class="ml-auto mr-auto p-8 mb-8 border-2 border-white" src="{{ . }}" alt="{{ . }}">
        {{ end }}
        <article id="post_content">
                {{.Content}}
        </article>
</div>
{{ end }}